.active-link{
    font-weight: bold;
    font-size: 1.1rem;
    animation: boing 1s ease-in-out;

}
.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 1rem;
}
.navbar-expand-lg .navbar-nav .nav-link.active-link{
    color: var(--main-color);
}

@keyframes boing {
    0% {
      transform: scale(1);
    }
    10%, 20% {
      transform: scale(0.9) rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
      transform: scale(1.1) rotate(3deg);
    }
    40%, 60%, 80% {
      transform: scale(1.1) rotate(-3deg);
    }
    100% {
      transform: scale(1) rotate(0);
    }
  }
  