.footer{
    background-color: var(--main-color);
    color: var(--text-color);
    top: 100%;
    position: sticky;
    overflow: hidden;
}

.column-row{
    text-align: center;
    padding: 30px 30px;
}

.column-row h2 span{
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}